<link rel="stylesheet" href="assets/css/components/footer.css">

<footer>

	<mat-toolbar class="footer contact">
		<a href="mailto:{{site.email}}">{{site.email}}</a>
	</mat-toolbar>
	<mat-toolbar class="footer">
		<a href="https://github.com/{{site.github_username}}"><i class="fa fa-github" aria-hidden="true"></i></a>
		<a href="{{site.linkedinlink}}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
	</mat-toolbar>
	<mat-toolbar class="footer sitemap">
		{% for item in site.data.menu %}
            <a href="{{item.link}}" target="{{item.target}}">{{item.title}}</a>
        {% endfor %}
	</mat-toolbar>
</footer>